* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.hcuatro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff5874;
  margin-bottom: 50px;
}

.nav-bar {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar img {
  width: 20%;
}

.nav-bar a {
  color: #f1a9ad;
  text-decoration: none;
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2%;
}

.nav-bar a:hover {
  color: #f1a9ad;
  -webkit-text-decoration: underline #588eaa;
          text-decoration: underline #588eaa;
  font-size: 21px;
}

.mb-3 {
  color: #f1a9ad;
  width: 500px;
}

.gridFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
      grid-template-areas: "gridC gridL gridL" "gridR gridR gridR";
}

.gridC {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gridC;
}

.gridC h4 {
  color: #f1a9ad;
}

.gridC p {
  color: #f1a9ad;
}

.gridC p a {
  text-decoration: none;
  color: #f1a9ad;
}

.gridL {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: gridL;
}

.gridL ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridL ul h4 {
  color: #f1a9ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridL a {
  text-decoration: none;
  color: #f1a9ad;
}

.gridL a:hover {
  color: #f1a9ad;
  -webkit-text-decoration: underline #588eaa;
          text-decoration: underline #588eaa;
}

.gridR {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: gridR;
}

.gridR h4 {
  color: #f1a9ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.gridR img {
  width: 50px;
  display: inline-block;
  margin-left: 15%;
}

.gridR img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 500px) {
  body {
    background-color: white;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
  .hcuatro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ff5874;
    margin-bottom: 50px;
  }
  .nav-bar {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar img {
    width: 20%;
  }
  .nav-bar a {
    color: #f1a9ad;
    text-decoration: none;
    font-size: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2%;
  }
  .nav-bar a:hover {
    color: #f1a9ad;
    -webkit-text-decoration: underline #588eaa;
            text-decoration: underline #588eaa;
    font-size: 21px;
  }
  .mb-3 {
    color: #f1a9ad;
    width: 500px;
  }
  .gridFooter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
        grid-template-areas: "gridC gridL gridL" "gridR gridR gridR";
  }
  .gridC {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: gridC;
  }
  .gridC h4 {
    color: #f1a9ad;
  }
  .gridC p {
    color: #f1a9ad;
  }
  .gridC p a {
    text-decoration: none;
    color: #f1a9ad;
  }
  .gridL {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: gridL;
  }
  .gridL ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridL ul h4 {
    color: #f1a9ad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridL a {
    text-decoration: none;
    color: #f1a9ad;
  }
  .gridL a:hover {
    color: #f1a9ad;
    -webkit-text-decoration: underline #588eaa;
            text-decoration: underline #588eaa;
  }
  .gridR {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: gridR;
  }
  .gridR h4 {
    color: #f1a9ad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
  }
  .gridR img {
    width: 50px;
    display: inline-block;
    margin-left: 15%;
  }
  .gridR img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 700px) {
  body {
    background-color: white;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
  .hcuatro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ff5874;
    margin-bottom: 50px;
  }
  .nav-bar {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar img {
    width: 15%;
  }
  .nav-bar a {
    color: #f1a9ad;
    text-decoration: none;
    font-size: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 5%;
  }
  .nav-bar a:hover {
    color: #f1a9ad;
    -webkit-text-decoration: underline #588eaa;
            text-decoration: underline #588eaa;
    font-size: 21px;
  }
  .mb-3 {
    color: #f1a9ad;
    width: 600px;
    margin-left: 8%;
  }
  .gridFooter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
        grid-template-areas: "gridC gridL gridR";
  }
  .gridC {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: gridC;
  }
  .gridC h4 {
    color: #f1a9ad;
  }
  .gridC p {
    color: #f1a9ad;
  }
  .gridC p a {
    text-decoration: none;
    color: #f1a9ad;
  }
  .gridL {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: gridL;
  }
  .gridL ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridL ul h4 {
    color: #f1a9ad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridL a {
    text-decoration: none;
    color: #f1a9ad;
  }
  .gridL a:hover {
    color: #f1a9ad;
    -webkit-text-decoration: underline #588eaa;
            text-decoration: underline #588eaa;
  }
  .gridR {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: gridR;
  }
  .gridR h4 {
    color: #f1a9ad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
  }
  .gridR img {
    width: 50px;
    display: inline-block;
    margin-left: 5%;
  }
  .gridR img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 920px) {
  body {
    background-color: white;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
  .hcuatro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ff5874;
    margin-bottom: 50px;
  }
  .nav-bar {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar img {
    width: 8%;
  }
  .nav-bar a {
    color: #f1a9ad;
    text-decoration: none;
    font-size: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 8%;
  }
  .nav-bar a:hover {
    color: #f1a9ad;
    -webkit-text-decoration: underline #588eaa;
            text-decoration: underline #588eaa;
    font-size: 21px;
  }
  .mb-3 {
    color: #f1a9ad;
    width: 800px;
    margin-left: 20%;
  }
  .gridFooter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
        grid-template-areas: "gridC gridL gridR";
  }
  .gridC {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: gridC;
  }
  .gridC h4 {
    color: #f1a9ad;
  }
  .gridC p {
    color: #f1a9ad;
  }
  .gridC p a {
    text-decoration: none;
    color: #f1a9ad;
  }
  .gridL {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: gridL;
  }
  .gridL ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridL ul h4 {
    color: #f1a9ad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridL a {
    text-decoration: none;
    color: #f1a9ad;
  }
  .gridL a:hover {
    color: #f1a9ad;
    -webkit-text-decoration: underline #588eaa;
            text-decoration: underline #588eaa;
  }
  .gridR {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: gridR;
  }
  .gridR h4 {
    color: #f1a9ad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gridR img {
    width: 50px;
    display: inline-block;
    margin-left: 15%;
  }
  .gridR img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style-contacto.css.map */