*{
    margin: 0;
    padding: 0;
}
/*Mobile*/

a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: white;
}

a:hover{
    transform: scale(1.2);
    text-decoration: underline rgb(255, 111, 136);
}

body{
    background-color: pink;
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
    color: rgb(255, 88, 116);
}

header nav ol a{
    border: 0;
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;
    font-size: 15px;
    background-color: pink;
}

.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "imagenes"
    "texto"
    "imgp2"
    "p2";
}

.img__p2{
    grid-area: imgp2;
    height: 150px;
    display: flex;
    margin-left: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img__Grid, .imgs{
    grid-area: imagenes;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 200px;

}

.parrafo{
    grid-area: texto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.parrafo2{
    grid-area: p2;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer{
    padding: 20px;
}

/*@media screen and (min-width: 500px){
    body{
        margin-left: 10px;
        background-color: pink;
        color: rgb(255, 88, 116);
        font-family: 'Poppins', sans-serif;
        font-size: smaller;
    }

    header nav ol a{
        border: 0%;
        padding: 20px;
        margin-left: 11%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        color: white;
    }

    a{
        display: flex;
        flex-direction: row;
    }

    a:hover{
        transform: scale(1.2);
        text-decoration: underline rgb(255, 111, 136);
    }

    .grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "imagenes"
        "texto"
        "imgp2"
        "p2";
    }

    .img__p2{
        grid-area: imgp2;
        height: 150px;
        display: flex;
        margin-left: 30%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .img__Grid, .imgs{
        grid-area: imagenes;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-bottom: 20px;
        height: 200px;
    
    }
    
    .parrafo{
        grid-area: texto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 102%;
    }
    
    .parrafo2{
        grid-area: p2;
    }


}*/

/*@media screen and (min-width: 700px){

    body{
        background-color: pink;
        color: rgb(255, 88, 116);
        font-family: 'Poppins', sans-serif;
        font-size: smaller;
    }

    header nav ol a{
        border: 0;
        padding: 20px;
        margin-left: 11%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        color: white;
    }

    a{
        display: flex;
        flex-direction: row;
    }

    a:hover{
        transform: scale(1.2);
        text-decoration: underline rgb(255, 111, 136);
    }

    .grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "imagenes"
        "texto"
        "imgp2"
        "p2";
    }

    .img__p2{
        grid-area: imgp2;
        height: 250px;
        display: flex;
        margin-left: 30%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .img__Grid, .imgs{
        grid-area: imagenes;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-bottom: 20px;
        height: 150px;
    
    }
    
    .parrafo{
        grid-area: texto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 120%;
        margin-bottom: 10px;
    }
    
    .parrafo2{
        grid-area: p2;
    }
}*/

@media screen and (min-width: 920px){
    body{
        margin: 0;
        background-color: #f5e8e2;
        color: #f1a9ad;
        font-family: 'Poppins', sans-serif;
    }
    
    .nav-bar {
        background-color: white;
        display: flex;
    }

    .nav-bar img {
        width: 8%;
    }

    .nav-bar a {
        color: #f1a9ad;
        text-decoration: none;
        font-size: 18px;
        padding: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 8%;
    }

    .nav-bar a:hover {
        color: #f1a9ad;
        text-decoration: underline #588eaa;
        font-size: 19px;
    }
    
    .grid{
        display: grid;
        grid-template-columns: 1000px 518px;
        grid-template-areas: 
        "header header"
        "imagenes imagenes"
        "texto texto"
        "imgp2 imgp2"
        "p2 p2";
    }

    .img__p2{
        grid-area: imgp2;
        height: 500px;
        margin-left: 25%;
    
    }

    .img__Grid, .imgs{
        grid-area: imagenes;
        display: flex;
        flex-direction: row;
    }

    .img1, .img2{
        width: 700px;
        height: 500px;
        display: flex;
        margin-left: 3%;
    }
    
    .parrafo2{
        grid-area: p2;
        font-size: larger;
        margin-bottom: 20px;
    }

    .parrafo{
        grid-area: texto;
        margin-top: 22%;
    }

    footer {
        grid-area: footer;
        background-color: white;
        padding: 50px;
        color: #f1a9ad;
    }

    .gridFooter {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-areas:
        "gridC gridL gridR"
    }

    .gridC {
        grid-area: gridC;
    }

    .gridC p a {
        text-decoration: none;
        color: #f1a9ad;
    }

    .gridL {
        grid-area: gridL;
    }

    .gridL ul li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gridL ul h4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gridL a {
        text-decoration: none;
        color: #f1a9ad;
    }

    .gridL a:hover {
        color: #f1a9ad;
        text-decoration: underline #588eaa;
    }

    .gridR {
        grid-area: gridR;
    }

    .gridR h4 {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .gridR img {
        width: 50px;
        display: inline-block;
        margin-left: 15%;

    }

    .gridR img:hover {
        transform: scale(1.2);
    }

}
    
